
.navbar, .igorPhoto, .skillName{
/*font-family: 'Slabo 27px', serif;*/
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}

.bg-light{
	background-color: #2c3e50!important;
}


.igorPhoto{
	text-align: center;
	background-color: #18bc9c;
	height: auto;
	padding-top: 35px;
}

.nameTitle, .skillSetTitle{
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	font-weight: 700;
	color: #fff;
  padding-top: 2%;
  text-align: center;
}
.nameSubTitle{
	padding-top: 5px;
	padding-bottom: 20px;
	font-size: 1.4rem;
	color: #fff;
}

.skillSetTitle{
	color: #2c3e50;
	text-align: center;
}

.nav-link{
	color: #fff!important;
	text-transform: uppercase;
}
.nav-link:hover{
	color: #18bc9c!important;
}



.igorImage{
	padding-top: 35px;
	width: 10%;
}

/*.skillNa
me {grid-area:column1;}*/
/*.progress {grid-area:column2!important;}*/
/*.progressBar{*/
/*	padding-top: 10px;*/
/*	width: 50%;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
/*	display: grid;*/
/*	grid-template-areas:*/
/*    'column1 column2';*/
/*    align-content: center;*/
/*    border: 5px;*/
/*}*/

.progressBar{
	width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.skillName{
	/*fit-content(70px) fit-content(20px);*/
	text-align: center;
	padding-right: 20px;
	font-size: 0.7rem;
	
	

	}
.progress{
	width: auto;
	text-align: left;
	}

/*.progress-bar{*/
/*	width: 300px!important;*/
/*}*/


.copyStyle{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-bottom: 150px;
	

}

.aboutCopy{
	width: 30%;
	text-align: center;
	padding-top: 30px;
	/*padding-bottom: 100px;*/
	display: inline-block;
	padding: 10px;
}



.kigmayHeaderStyle{
width:100%;
height: auto;
position: relative;
text-align: center;
}
.portfolioHeaderStyle{
	width:100%;
}

.headerText{
	font-family: 'Montserrat', sans-serif;
	font-weight: 2000;
	top: 50%;
	bottom: 50%;
	width:100%;
	position: absolute;
   
}

.containerForContent{
	/*display: flex;*/
	width:50%;
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	/*height: auto;*/
	text-align: center;
	
}

.contentOne, .contentTwo{
	padding: 10px;
}
.contentOne{
	height: auto;
}

.contentTwo{
	font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.contentImageStyle{
	width: 100%;
	/*height: 450px;*/
}

.buttonStyle{
	background: linear-gradient(125deg,#00bd9c,#00bd60);
    padding: 18px 50px;
    max-width: 250px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 18px;
    margin: auto;
    -webkit-border-radius: 20px!important;
    transition: background 0.8s ease 0.5s;
    text-align: center;
    color: #fff;
}
.buttonStyle, a:hover{
  color:white;
}

hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 300px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
    border-color: #2c3e50;
   
}

hr.star-primary:after {
    content: "\2605";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
    color: #2c3e50;
    background-color: #fff;
    }



.bg-4 { 
      background-color: #2c3e50;
      color: #fff;
  }
  .container-fluid {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 30px;
  }
  
 
  
  hr.star-primary-light {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 300px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
    border-color: white;
   
}

hr.star-primary-light:after {
    content: "\2605";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
    color: white;
    background-color: #00bd9c;
    }
    

.portfolioItemConteiner{
	width:70%;

	margin-left:auto;
	margin-right:auto;
  text-align: center;
	margin-bottom: 2%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap:5px;
	
}

.portfolioItemConteiner img{
  width:100%;
}

.portfolioItemConteiner2{
  width:70%;
  margin: 2%  auto;
  /*margin-left:auto;
  margin-right:auto;*/
  /*text-align: center;*/
  /*display: inline;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*flex-wrap: wrap; */
}


.portfolioItem2{
	width: 250px;
	border-radius: 20px;
	border:5px;
	opacity: 1;
  	/*display: block;*/
  	height: auto;
  	transition: .5s ease;
  	backface-visibility: hidden;
    text-align: center;
}

.portfolioItem2 img{
  width: 100%;
  text-align: center;
}

.portfolioItem2{
  text-align:center;
  position: relative;
  }

.portfolioItem2:hover .image {
  opacity: 0.3;
}

.portfolioItem2:hover .middle {
  opacity: 3;
}

.text{
  position: absolute;
  background-color: #18bc9c;
  /*border-radius: 5px;*/
  /*color: white;*/
  font-size: 16px;
  padding: 16px 32px;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  
    /*left: 50%;*/
}

.text a{
color:white;
  }

.middle {
  transition: .5s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;*/
}


.portfolioItem{
	text-align:center;
	position: relative;
	}

.portfolioItem:hover .image {
  opacity: 0.3;
}

.portfolioItem:hover .middle {
  opacity: 3;
}

.footer{
  text-align: center;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  width: 100%;
  display: block;
  left: 0;
  margin-top: 50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #2c3e50;
  color: #fff;
}

.imgPortfolioGrid{
  width: 100%;
}



.portfolioItemConteiner3{
  width: 100%;
  /*margin-left: auto;
  margin-right: auto;*/
  /*position: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;*/
  text-align: center;
}

.imageCash{
  width:250px;
  margin: 5px;
}

.contactForm{
  height: auto;
}

.sportinformCaption{
  width: 70%;
  margin: 0 auto;
}